// Add the following accessory definiton in your config.json

    "accessories": [
        {
            "accessory": "mqtt-occupancy",
            "name": "Living Room",
            "url": "mqtt://hostname:port",
            "topic": "occupancy"
        }
    ]
